body {
  background-color: #d5d5d5;
}

.image-container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.image-container img {
  width: 100%;
  position: relative;
}

.image-container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-align: center;
}

.text {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}
.paragraphe {
  font-weight: bold;
  font-family: Arial;
}
.second {
  font-weight: bold;
  color: rgb(254, 7, 7);
  font-size: large;
  margin-top: 30px;
}
.firstp {
  margin-top: 30px;
}
.secondp {
  margin-top: 30px;
}
.textfirst {
  font-weight: bold;
  margin-top: 30px;
}
.sommaire {
  margin-top: 30px;
  border: solid 0px;
  background-color: #e4e1e1;
  border-radius: 20px;
}
.fermer {
}

.sommaire-header {
  padding: 30px 20px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tableau {
  border-top: solid 1px gray;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px;
}

.tableau ul li:not(:last-of-type) {
  margin-bottom: 10px;
}

.tableau ul li a {
  text-decoration: none;
  color: #000;
}

.qualites {
  padding: 10px;
}
.titlered {
  font-weight: bold;
  color: rgb(254, 7, 7);
  font-size: large;
  margin-top: 30px;
}
.textdeux {
  margin-top: 20px;
}
.titretrois {
  font-weight: bold;
  margin-top: 20px;
  padding-bottom: 20px;
}
.titrequatre {
  font-weight: bold;
  margin-top: 20px;
  padding-bottom: 20px;
}
.textfin {
  padding: 20px;
}
.titrebas {
  font-weight: bold;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-size: x-large;
}
.aucun-commentaire {
  display: block;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #e0eefb;
  border: solid 1px #4d709c;
  border-radius: 10px;
  color: #4d709c;
  max-width: 1000px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.com-commentaire {
  font-weight: bold;
  margin-bottom: 30px;
}
.commentaire {
  background-color: black;
  color: #fdfdfd;
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 5%;
}
.formulaire input {
  width: 80%;
  height: 30px;
  margin-bottom: 2%;
  margin-top: 1%;
}
.formulaire textarea {
  width: 80%;
  height: 100px;
  margin-bottom: 5%;
  margin-top: 1%;
}
.ajoute-com {
  margin-bottom: 30px;
}
.ajoute-com button {
  border-radius: 10px;
}
.partager-cet-article {
  display: block;
  margin: auto;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 30px;
  font-weight: bolder;
}

.article__content {
  padding-top: 50px;
}
