.button-exit{
    border: none;
    background-color: transparent;
}


.button-exit {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.button {
    height: 35px;;
    border: none;
    border-radius: 20px;
    margin: 20px;
    transition: background linear .3s, color linear .3s;

}

.button:hover {
    background: red;
    color: #fff;
}

.button-facebook {
    background: rgb(253, 253, 254);
}