:root {
  --btn-padding-vertical: 10px;
  --btn-padding-horizontal: 15px;

  --btn-background-color: var(--color-1);
  --btn-text-color: #fff;
  --btn-border-color: transparent;
  --btn-border-radius: 4px;
  --btn-font-size: var(--font-size-base);
  --btn-font-family: var(--font-family);
}

.btn {
  padding: var(--btn-padding-vertical) var(--btn-padding-horizontal);
  outline: none;
  border: 1px solid var(--btn-border-color);
  box-shadow: none;
  background: var(--btn-background-color);
  color: var(--btn-text-color);
  font-family: var(--font-family-title);
  border-radius: var(--btn-border-radius);
  text-decoration: none;
  font-size: var(--btn-font-size);
  font-family: var(--btn-font-family);
  text-transform: uppercase;
  position: relative;
  transition: all linear 0.3s;
}

.btn:hover {
  transform: translateY(-5px);
}

.btn.btn-share {
  --btn-background-color: var(--color-3);
}

.btn.btn-green {
  --btn-background-color: green;
}

.btn.btn-facebook {
  --btn-background-color: #1877f2;
}

.btn.btn-pinterest {
  --btn-background-color: #c8232c;
}

.btn-close {
  --btn-background-color: #333;
  --btn-text-color: #fff;
  --btn-padding-vertical: 0;
  --btn-padding-horizontal: 0;

  height: 30px;
  width: 30px;
  border-radius: 999px;
}

/* 

.button-exit {
  border: none;
  background-color: transparent;
}

.button-exit {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.button {
  height: 35px;
  border: none;
  border-radius: 20px;
  margin: 20px;
  transition: background linear 0.3s, color linear 0.3s;
}

.button:hover {
  background: red;
  color: #fff;
}

.button-facebook {
  background: rgb(253, 253, 254);
} */

#btnTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: purple;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

#btnTop:hover {
  background-color: black;
}
