#footer1 {
  padding: 100px 30px;
  background-color: var(--color-background-header);
}
#footer{
  background-color: #000000;
  padding: 20px;
 }
.page-title{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 40px;
}



.article-flex-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 20px;
}

.article-flex-container picture {
}

.article-flex-container img {
  /* max-width: 100%; */
  max-height: 300px;

  width: 100%;
  object-fit: fill;
}

.article-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 40px;
  @media (width <480px){
  background-color: rgb(255, 255, 255);
  padding-bottom: 50px;
}
}
.article-text {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 20px;
  text-decoration: none;
  height: 60px;
  color: #000000;
  text-decoration: none;
  display: block;
  padding-top: 10px;
  @media (width <480px){
   line-height: 20px; 
  margin-top: -60px;
  }
}

.article-text p a{
  text-decoration: none;
  color:black ;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 40px;
  @media (width <480px){
   font-weight: 400;
   }
}
