#footer2 {
  padding: 100px 30px;
  background-color: var(--color-background-header);
}

#TitleContact {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-bottom: 40px;
}

.infos-map {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.infos-map img {
  max-width: 100%;
}
