body {
  background-color: #d5d5d5;
  color:var( --color-1);
}

.dark-mode {
  background-color: black;
  color: rgb(255, 255, 255);
}  

.image-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  @media (max-width<480px) {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.image-container img {
  width: 100%;
  position: relative;
}

.image-container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-align: center;
}

.paragraphe {
  font-weight: bold;
  font-family: Arial;
  @media (width>480px) {
    font-size: var--font-size-sm();
  }
}
.second {
  font-weight: bold;
  color: rgb(254, 7, 7);
  font-size: large;
  margin-top: 30px;
}
.firstp {
  margin-top: 30px;
}
.secondp {
  margin-top: 30px;
}
.textfirst {
  font-weight: bold;
  margin-top: 30px;
}
.sommaire {
  border: solid 0px;
  background-color: #e4e1e1;
  border-radius: 20px;
}
.video {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.sommaire-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tableau {
  border-top: solid 1px gray;
}

.tableau ul li:not(:last-of-type) {
  margin-bottom: 10px;
}

.tableau ul li a {
  text-decoration: none;
  color: #000;
}

.qualites {
  padding: 10px;
}
.titlered {
  font-weight: bold;
  color: rgb(254, 7, 7);
  font-size: large;
  margin-top: 30px;
}
.textdeux {
  margin-top: 20px;
}
.titretrois {
  font-weight: bold;
  margin-top: 20px;
  padding-bottom: 20px;
}
.titrequatre {
  font-weight: bold;
  margin-top: 20px;
  padding-bottom: 20px;
}
.textfin {
  padding: 20px;
}
.titrebas {
  font-weight: bold;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-size: x-large;
}
.aucun-commentaire {
  display: block;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #e0eefb;
  border: solid 1px #4d709c;
  border-radius: 10px;
  color: #4d709c;
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom: 30px;

}
.com-commentaire {
  font-weight: bold;
  margin-bottom: 30px;
}

.formulaire input {
  width: 80%;
  height: 30px;
  margin-bottom: 2%;
  margin-top: 1%;
}
.formulaire textarea {
  width: 80%;
  height: 100px;
  margin-bottom: 5%;
  margin-top: 1%;
}
.ajoute-com {
  margin-bottom: 30px;
}

.article__content {
  padding-top: 50px;
}
.article-text p {
  @media (max-width: 480) {
    padding-top: 20px;
  }
}

.partager-cet-article {
  display: flex;
  margin: 20px 0;
  justify-content: center;
}
