h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;

  /* Taille du texte sur tablette */
  @media (min-width: 768px) {
    font-size: 50px;
  }
}

h2 {
  font-size: 22px;

    /* Taille du texte sur tablette */
    @media (min-width: 768px) {
      font-size: 30px;
    }
}

h3 {
  font-size: 19px;

    /* Taille du texte sur tablette */
    @media (min-width: 768px) {
      font-size: 22px;
    }
}

.page-title {
  padding-top: 20px;
  margin-bottom: 15px;
}
