#header {
  display: flex;
  align-items: center;
  background-color: var(--color-background-header);
  height: 120px;
  margin-bottom: 40px;
}

#header .logo {
  display: flex;
  height: 120px;
  margin-right: 30px;
  background-color: var(--color-2);
}

#header .menu ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: center;
}

#header .menu li {
  align-items: center;
  height: 100%;
}

#header .menu a {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 20px;
  text-decoration: none;
}
