html {
  height: 100%;
  margin: 0%;
}

body {
  margin: 0;
  height: 100%;
  background: linear-gradient(to bottom, #eeeeee 45%, #000000 65%);
}

/* Footer accueil */
.footer-accueil {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: "Maitree", sans-serif;
  font-size: 18px;
  height: 15%;
}
.content {
  padding-bottom: 100px;
}
footer p {
  margin-bottom: 20px;
}

footer button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

footer button:hover {
  background-color: purple;
}

/* Section Accueil */
.section-accueil {
  display: flex;
  align-items: center;
  padding: 80px;
}

/* Bloc texte (titre + légende) */
.accueil-h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accueil-h1 h1 {
  font-family: "Maitree";
  font-size: 40px;
  color: #1a1a1a;
  line-height: 1.2;
  margin: 0 0 20px 0;
  font-weight: bold;
}

.accueil-legende {
  font-family: "Maitree", sans-serif;
  font-size: 18px;
  color: #000000;
}

/* Bloc image */
.image-halterophile {
  max-width: 45%;
  position: absolute;
  top: 14%;
  right: 2%;
}

.image-halterophile img {
  width: 100%;
  height: auto;
  display: block;
}

/* Articles */
.article-container {
  min-width: 250px;
  background-color: #eeeeee;
  border-radius: 10px;
  height: 250px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-top: 5px solid purple;
}

.article-accueil {
  display: flex;
  justify-content: center;
  gap: 150px;
  height: 200px;
  width: 70%;
  margin-left: 15%;
}

.article-container-title {
  display: flex;
  justify-content: center;
  font-family: "Maitree", sans-serif;
  margin-top: 10px;
  align-items: center;
}

.article-container-text {
  font-family: "Maitree", sans-serif;
  margin: 15px;
}

.btn-article-accueil {
  display: flex;
  justify-content: center;
  font-family: "Maitree", sans-serif;
  transition: background-color 0.3s ease;
}

.btn-article-accueil button {
  background-color: purple;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-article-accueil button:hover {
  background-color: #000000;
  transform: scale(1.05);
}
