/* couleurs */
:root {
  --color-primary: red;
  --color-1: #000000;
  --color-2: #ffffff;
  --color-3: purple;
}

:root {
  --color-background-header: var(--color-1);
}

/* Typographie */
:root {
  --font-family: "Oswald", sans-serif;
  --font-weight: normal;
  --font-size: 16px;
  --text-transform: uppercase;
  --color: #ffffff;
  --margin: 0 20px;
  --text-decoration: none;
}

/* button */
:root {
  --colors-button-transparent: #f0f0f0;
  --color-lightgrey: #dadada;
}

/* Borders */
:root {
  --border-radius-large: 10px;
}

/* spacings */
:root {
  --padding-xs: 10px;
  --padding-sm: 20px;
  --padding-md: 30px;
  --padding-lg: 40px;
  --padding-xl: 50px;
  --padding-xxl: 60px;
  --padding-wide: 100px;
}

/* Borders */
:root {
  --border-color: var(--color-lightgrey);
}

/* Goutières */
:root {
  --gutter-gap-desktop: 30px;
}

/* Responsive */
:root {
  --font-size-base: 17px;
  --font-size-sm: 15px;

  @media (max-width: 480px) {
    --font-size-base: var(--font-size-sm);
  }
}
